@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FirmaMeblarska</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link href="~/css/styles.css" rel="stylesheet" />   
    <link rel="stylesheet" type="text/css" href="/DataTables/datatables.min.css" />

</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">

        <a class="navbar-brand" asp-area="" asp-controller="Zamowienie" asp-action="Index">Firma Meblarska</a>
        <button class="btn btn-link btn-sm order-1 order-lg-0 text-light" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
        <!-- Navbar-->
        <div class="container">
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial.cshtml" />
            </div>
        </div>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Ogólne</div>



                        @if (User.IsInRole("Admin"))
                        {
                            <a class="nav-link" asp-area="" asp-controller="Pracownik" asp-action="Index">
                                <div class="sb-nav-link-icon"><i class="fas fa-user fa-fw"></i></div>Pracownicy
                            </a>


                            <a class="nav-link" asp-area="" asp-controller="Klient" asp-action="Index">
                                <div class="sb-nav-link-icon"><i class="fas fa-user-tie"></i></div>
                                Klienci
                            </a>
                        }
                        @if (User.IsInRole("Admin") || User.IsInRole("Pracownik"))
                        {
                            <a class="nav-link" asp-area="" asp-controller="Zamowienie" asp-action="Index">
                                <div class="sb-nav-link-icon"><i class="fas fa-table mr-1"></i></div>
                                Zamówienia
                            </a>

                            <a class="nav-link" asp-area="" asp-controller="Magazyn" asp-action="Index">
                                <div class="sb-nav-link-icon"><i class="fas fa-box"></i></div>
                                Magazyn
                            </a>
                        }
                        @if (User.IsInRole("Pracownik"))
                        {

                            <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                                <div class="sb-nav-link-icon"><i class="fas fa-user-tie"></i></div>
                                Ustawienia konta
                            </a>
                        }
                        @if (User.IsInRole("Admin"))
                        {


                            <div class="sb-sidenav-menu-heading">Zmiana atrybutów</div>
                            <a class="nav-link" asp-area="" asp-controller="Adres" asp-action="Index">
                                <div class="sb-nav-link-icon"><i class="fas fa-box"></i></div>
                                Adresy
                            </a>
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Firma
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" asp-area="" asp-controller="Zespol" asp-action="Index">
                                        <div class="sb-nav-link-icon"><i class="fas fa-box"></i></div>
                                        Zespoły
                                    </a>
                                    <a class="nav-link" asp-area="" asp-controller="Plyta" asp-action="Index">
                                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                        Płyty

                                    </a>
                                    <a class="nav-link" asp-area="" asp-controller="Maszyna" asp-action="Index">
                                        <div class="sb-nav-link-icon"><i class="fas fa-box"></i></div>
                                        Maszyny
                                    </a>

                                    <a class="nav-link" asp-area="" asp-controller="Narzedzie" asp-action="Index">
                                        <div class="sb-nav-link-icon"><i class="fas fa-box"></i></div>
                                        Narzędzia
                                    </a>



                                    <a class="nav-link" asp-area="" asp-controller="Status" asp-action="Index">
                                        <div class="sb-nav-link-icon"><i class="fas fa-box"></i></div>
                                        Status
                                    </a>


                                </nav>
                            </div>
                            <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Administrator
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Register">
                                        <div class="sb-nav-link-icon"><i class="fas fa-user-tie"></i></div>
                                        Zarejestruj użytkownika
                                    </a>
                                    
                                </nav>
                            </div>

                        }
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Zalogowany jako:</div>
                    @UserManager.GetUserName(User)

                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <div class="col-md-10 col-md-offset-1">

                <main>
                    <div class="container-fluid mt-4">
                        @RenderBody()
                    </div>
                </main>

            </div>
        </div>
    </div>



    <div class="container body-content">
       
        <hr />
        <footer>
            <p> &copy; 2020 - FirmaMeblarska - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></p>
        </footer>
    </div>
    <!--<footer class="border-top footer text-muted">
         <div class="container">
             &copy; 2020 - FirmaMeblarska - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
         </div>
     </footer>-->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="~/assets/demo/chart-area-demo.js"></script>
    <script src="~/assets/demo/chart-bar-demo.js"></script>

    <script type="text/javascript" src="~/DataTables/datatables.min.js"></script>
    <!--
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').DataTable({
                "language": {
                    "processing": "Przetwarzanie...",
                    "search": "Szukaj:  ",
                    "lengthMenu": "Pokaż _MENU_ pozycji",
                    "info": "Pozycje od _START_ do _END_ z _TOTAL_",
                    "infoEmpty": "Pozycji 0 z 0 dostępnych",
                    "infoFiltered": "(filtrowanie spośród _MAX_ dostępnych pozycji)",
                    "loadingRecords": "Wczytywanie...",
                    "zeroRecords": "Nie znaleziono ",
                    "paginate": {
                        "first": "Pierwsza",
                        "previous": "Poprzednia",
                        "next": "Następna",
                        "last": "Ostatnia"
                    },
                    "aria": {
                        "sortAscending": ": aktywuj, by posortować kolumnę rosnąco",
                        "sortDescending": ": aktywuj, by posortować kolumnę malejąco"
                    },
                    "autoFill": {
                        "cancel": "Anuluj",
                        "fill": "Wypełnij wszystkie komórki <i>%d<\/i>",
                        "fillHorizontal": "Wypełnij komórki w poziomie",
                        "fillVertical": "Wypełnij komórki w pionie"
                    },
                    "buttons": {
                        "collection": "Zbiór <span class=\"ui-button-icon-primary ui-icon ui-icon-triangle-1-s\"><\/span>",
                        "colvis": "Widoczność kolumny",
                        "colvisRestore": "Przywróć widoczność",
                        "copy": "Kopiuj",
                        "copyKeys": "Naciśnij Ctrl lub u2318 + C, aby skopiować dane tabeli do schowka systemowego. <br \/> <br \/> Aby anulować, kliknij tę wiadomość lub naciśnij Esc.",
                        "copySuccess": {
                            "1": "Skopiowano 1 wiersz do schowka",
                            "_": "Skopiowano %d wierszy do schowka"
                        },
                        "copyTitle": "Skopiuj do schowka",
                        "csv": "CSV",
                        "excel": "Excel",
                        "pageLength": {
                            "-1": "Pokaż wszystkie wiersze",
                            "1": "Pokaż 1 wiersz",
                            "_": "Pokaż %d wierszy"
                        },
                        "pdf": "PDF",
                        "print": "Drukuj"
                    },
                    "emptyTable": "Brak danych w tabeli",
                    "searchBuilder": {
                        "add": "Dodaj warunek",
                        "clearAll": "Wyczyść wszystko",
                        "condition": "Warunek",
                        "data": "Dane"
                    }
                }
            });
        });





    </script>-->

    @RenderSection("Scripts", required: false)
</body>
</html>
