@model FirmaMeblarska.Models.Zespol

@{
    ViewData["Title"] = "Zespoł";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h4>Zespół</h4>
<hr />
<div class="row">
    <div class="col-md-5">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Nazwa" class="control-label"></label>
                <input asp-for="Nazwa" class="form-control" />
                <span asp-validation-for="Nazwa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Pracownicy</label>
                <div class="col-md-offset-2" >
                    <table>
                        <tr>
                            @{
                                int cnt = 0;
                                List<FirmaMeblarska.ViewModels.AssignedConditionVM> conds = ViewBag.Conditions;
                                foreach (var cond in conds)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedConditions"
                                               value="@cond.PracownikID"
                                               @(Html.Raw(cond.Assigned ? "checked=\"checked\"" : "")) />
                                        @cond.PracownikNazwa @:&nbsp;&nbsp;
                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="submit" value="Zapisz" class="btn btn-primary btn-block" />
                    </div>
                    <div class="form-group col-md-6">
                        <a asp-action="Index" class="btn btn-secondary btn-block"><i class="fa fa-table"></i>  Powrót do listy zespołów</a>
                    </div>
                </div>
            </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
