@model FirmaMeblarska.Models.Zespol

@{
    ViewData["Title"] = "Szczegóły";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Szczegóły</h1>


<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="myTabs" role="tablist">
        <li role="presentation" class="active"><a href="#basic" aria-controls="basic" role="tab" class="nav_link" name="basic" data-toggle="tab">Basic Details</a></li>
        <li role="presentation"><a href="#patients" aria-controls="patients" role="tab" class="nav_link" name="patients" data-toggle="tab">Patients</a></li>
        <li role="presentation"><a href="#specialities" aria-controls="specialities" role="tab" class="nav_link" name="specialities" data-toggle="tab">Specialities</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="basic">
            <br />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nazwa)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Nazwa)
                </dd>
                
                
            </dl>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="patients">
            <br />
        </div>
        <div role="tabpanel" class="tab-pane fade" id="specialities">
            <br />
        </div>
    </div>
</div>
<hr />
<br />
<div>
    
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    <script type="text/javascript">
            $('.nav_link').click(function () {
                var activeTab = $(this).attr("name");
                switch (activeTab) {
                    case 'patients':$('#patients').load('/Doctors/ListOfPatientsDetails/@Model.ZespolId');
                        break;
                    case 'specialities': $('#specialities').load('/Zespol/ListOfSpecialtiesDetails/@Model.ZespolId');
                        break;
                    default: break;
                };
            })
    </script>
}