@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Rejestracja";
}

<h1>@ViewData["Title"]</h1>
@{
    
<p>
   Dodano użytkownika.
</p>
<p style="text-align:center" ;>
    Konto zostało utworzone pomyślnie!
    <a id="confirm-link" href="@Model.EmailConfirmationUrl">Kliknij tutaj, aby potwierdzić dodanie konta</a>
</p>
   
}
