@model FirmaMeblarska.Models.Adres

@{
    ViewData["Title"] = "Adres";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4>Adres</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AdresId" />
            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
            <div class="form-group">
                <label asp-for="Miejscowosc" class="control-label"></label>
                <input asp-for="Miejscowosc" class="form-control" />
                <span asp-validation-for="Miejscowosc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ulica" class="control-label"></label>
                <input asp-for="Ulica" class="form-control" />
                <span asp-validation-for="Ulica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NrDomu" class="control-label"></label>
                <input asp-for="NrDomu" class="form-control" />
                <span asp-validation-for="NrDomu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NrLokalu" class="control-label"></label>
                <input asp-for="NrLokalu" class="form-control" />
                <span asp-validation-for="NrLokalu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KodPocztowy" class="control-label"></label>
                <input asp-for="KodPocztowy" class="form-control" />
                <span asp-validation-for="KodPocztowy" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="submit" value="Zapisz" class="btn btn-primary btn-block"  />
                </div>
                <div class="form-group col-md-6">
                    <a asp-action="Index" class="btn btn-secondary btn-block"><i class="fa fa-table"></i>  Powrót do listy adresów</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
